.todos {
    color: white;
    width: 320px;
    background-color: #bf07ac;
    height: 40px;
    margin: 20px auto;
    border-radius: 5px;
}

.todos p {
    padding: 10px;
    position: relative;
}

.todos p span {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.faicons {
    margin: 0 5px;
    font-size: 15px;
}

.todos p input {
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 18px;
}

.todos p input:focus {
    outline: none;
}